*{
    padding: 0;
    margin: 0;
}
.loops{
    background: -webkit-linear-gradient(rgba(27, 164, 137, 0.597)0%,rgb(45, 83, 83));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
input {
    width: 250px;
    height: 40px;
}
input::placeholder{
    text-align: center;
    color: black;
}
.calculate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.calculate button{
    padding: 10px;
    width: 100px;
    border: none;
    background: gainsboro;
}
.fbf{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
